<!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Almohadones</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/almohadones.jpeg" alt="Almohadones" />
                                    <!-- Portfolio Modal - Text-->
                                    
                                    <h3>Almohadones Basic</h3> <p class="mb-4">Almohadón de Tussor Liviano, con costura de pestaña de un centimetro.</p> 
                                
                                    <table class="table table-secondary"> 

                                        <thead class="table-secondary">
                                        
                                        <th scope="col">Producto id</th>
                                        <th scope="col">Producto nombre</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Precio</th>
                                        
                                        </thead>

                                        <tbody class="table-secondary">
                                            {{#each results}} 
                                            <tr>

                                            <td>{{id_productos}}</td>
                                            <td>{{producto_nombre}}</td>
                                            <td>{{producto_color}}</td>
                                            <td>{{producto_precio}}</td>
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                    
                                    </table>
                                    <br>
                                    
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar -->
                                    </button>
                                    <button class="btn btn-primary" ><a href="https://mpago.la/2CHtESh">¡Lo Quiero!</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Acolchado</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/acolchado.jpeg" alt="acolchado" />
                                    <!-- Portfolio Modal - Text-->
                                    <h3>Acolchados</h3> <p class="mb-4">Acolchado de tussor liviano, relleno de guata de media densidad, reversible.</p> 

                                     <table class="table table-secondary"> 

                                        <thead class="table-secondary">
                                        
                                        <th scope="col">Producto id</th>
                                        <th scope="col">Producto nombre</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Precio</th>
                                        
                                        </thead>

                                        <tbody class="table-secondary">
                                            {{#each results}} 
                                            <tr>

                                            <td>{{id_productos}}</td>
                                            <td>{{producto_nombre}}</td>
                                            <td>{{producto_color}}</td>
                                            <td>{{producto_precio}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                    
                                    </table>
                                    <br>
                                    <br>
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar
                                    </button> -->
                                    <button class="btn btn-primary"><a href="https://mpago.la/19Akqsr">¡Lo Quiero!</a></button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cortinas</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/Cortina.jpeg" alt="cortina" />
                                    <!-- Portfolio Modal - Text-->
                                    <h3>Cortinas</h3> <p class="mb-4">Cortinas de Gasa de algodón.</p> <h4>Colores</h4><p>Gris Perla, Rosa Viejo, Verde Seco, Curcuma, Azul andes, Celeste Río, Avellana, Ladrillo</p> <h4>Medida</h4> <p>A pedido</p>
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar
                                    </button> -->
                                    <button class="btn btn-primary"><a href="https://wa.me/message/HM5YJV3XMC3DA1">Consultar Stock</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Cerámica</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/cerámica.jpeg" alt="cerámica" />
                                    <!-- Portfolio Modal - Text-->
                                    <h3>Cerámica Artesanal</h3><p>Consultar Stock de Productos</p>
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar
                                    </button> -->
                                    <button class="btn btn-primary"><a href="https://wa.me/message/HM5YJV3XMC3DA1">Consultar Stock</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Para la Mesa</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/mesa.jpeg" alt="paralamesa" />
                                    <!-- Portfolio Modal - Text-->
                                    <h3>Productos para la mesa</h3> <p class="mb-4">Combo x4. Camino(1) Individuales(4)Servilletas(4)</p> <h4>Colores</h4><p>Gris Perla, Rosa Viejo, Verde Seco, Curcuma, Azul andes, Celeste Río, Avellana, Ladrillo</p>
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar
                                    </button> -->

                                    <table class="table table-secondary"> 

                                        <thead class="table-secondary">
                                        
                                        <th scope="col">Producto id</th>
                                        <th scope="col">Producto nombre</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Precio</th>
                                        
                                        </thead>

                                        <tbody class="table-secondary">
                                            {{#each results}} 
                                            <tr>

                                            <td>{{id_productos}}</td>
                                            <td>{{producto_nombre}}</td>
                                            <td>{{producto_color}}</td>
                                            <td>{{producto_precio}}</td>
                                            
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                    
                                    </table>
                                    <br> 
                                    <button class="btn btn-primary"><a href="https://mpago.la/2ZvkFm1">¡Lo Quiero!</a>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Diseño de Interiores</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div> -->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="./assets/img/portfolio/Diseño.jpeg" alt="asesoramiento" />
                                    <!-- Portfolio Modal - Text-->
                                    <h3>Asesoramiento</h3> <p class="mb-4"> Brindamos el servicio de Asesoramiento en Diseño de Interiores</p>
                                    <!-- <button class="btn btn-primary" href="" data-bs-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        Cerrar
                                    </button> -->
                                    <button class="btn btn-primary"><a href="https://wa.me/message/HM5YJV3XMC3DA1">¡Quiero Asesoramiento!</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>